 body {
  background-color:rgb(253, 158, 123);
 }

 .app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  font-family: helvetica, sans-serif;
  font-size: 2.5em;
  color: white;
  background-color:rgb(110, 68, 17);

 }

 .button {
  font-size: 1em;
  font-style: oblique;
  padding: 1vw;
  border: solid black .05em;
  border-radius: 1em;
  background-color:rgba(245, 106, 75, 0.816);
  color: black
 }